body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "DejaVu Sans", serif;
  color: #e5e5e5;
}

.card {
  width: 400px;
  height: 800px;
  background-color: #1a1b20;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}


.container-image {
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}

.container-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


.card h3 {
  color: deepskyblue;
  font-weight: lighter;
  margin-top: 5px;
  font-size: 1em;
}

.card h1 {
  margin-bottom: 5px;
  font-size: 1.5em;
  margin-top: 30px;
}

.btn-email {
  background-color: deepskyblue;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-linkedin {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.social-media {
  background-color: #16151a;
  height: 50px;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;

}

.text-content {
  margin-top: 20px;
  text-align: left;
  padding: 0 40px;
}

.text-content h2 {
  font-size: 1em;
}

.text-content p {
  font-weight: lighter;
  font-size: 0.9em;
  line-height: 1.5em;
}

.buttons-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}